<p>pagedata works!</p>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let post of tableData
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <th scope="row">{{ post.id}}</th>
        <td>{{ post.name}}</td>
        <td>{{ post.username }}</td>
        <td>{{ post.email }}</td>
      </tr>
    </tbody>
    </table>
    <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
    </div>